</body>
<div class="footer">
  <div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
    <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0">
        Copyright © 2022. All rights reserved by Vaibhav & Vinay Groups.
      </div>
    <!-- Copyright -->
    <!-- Right -->
    <div>
      <a href="https://www.facebook.com/watch/live/?ref=live_delegate" class="text-white me-4">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a href="https://twitter.com/Twitter?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="text-white me-4">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a href="https://www.google.co.in/" class="text-white me-4">
        <i class="fa-brands fa-google"></i>
      </a>
      <a href="https://about.linkedin.com/" class="text-white">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
    </div>
    <!-- Right -->
  </div>
</div>
</html>